.idea
tmp
bin/xray-darwin-arm64
bin/config.json
bin/x-ui.db
bin/blockedIPs
bin/access.log
dist/
x-ui-*.tar.gz
/x-ui
/release.sh
.sync*
main
release/
access.log
.cache
Xray-windows-64
.codebuddy
x-ui.exe
*.db
restart_xray.ps1
insert_socks_test.sql